EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SUPABASE_STORAGE_BUCKET=app-files
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
EXPO_PUBLIC_OPENWEATHER_KEY=
EXPO_PUBLIC_EXPO_PROJECT_ID=
EXPO_PUBLIC_SUPABASE_PASSWORD_RESET_URL=
EXPO_PUBLIC_SUPABASE_EMAIL_REDIRECT_URL=chacarasf://auth/callback
EXPO_PUBLIC_NOTIFICATION_IMAGE_URL=
EXPO_PUBLIC_GROQ_API_KEY=
EXPO_PUBLIC_RENT_BOT_AVATAR_URL=
EXPO_PUBLIC_HEADLIGHTS_VIRTUAL_ID=bf34982d74bfeccf87av8b
EXPO_PUBLIC_HEADLIGHTS_CATALOG=
